<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/image.png" alt="image" class="img-thumbnail rounded-circle" width="200">
            <div class="h1 display-4">adinda meilia</div>
            <p class="lead">Lecturer | Content Creator </p>
        </div>
    </div>
</div>